@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root{
    --cor-fundo: #01080E;
    --cor-principal: #0f0b20;
    --cor-secundaria: #262133; 
    --cor-destaque: #b40000;
    --cor-texto: #cc8989;
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Roboto', Arial, sans-serif; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 700px;
    text-align: center;
    padding: 20px;
    border-radius: 10px; 
}

h1{
    color: var(--cor-destaque);
    font-weight: 700; 
}

button {
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    padding: 10px;
    margin: 10px;
    transition: background-color 0.7s;
    font-family: inherit;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}
